{{#contentFor "head"}}
  <script type="text/x-template" id="breadcrumbs-template">xx
    <ol id="breadcrumbs">
        <li v-for="item in path"><a :href="item.url">\{{item.title}}</a></li>
    </ol>
  </script>
  <script type="text/x-template" id="years-template">
    <div>
        <div id="status">
            \{{message}}
            <div id="loader" v-show="!loaded">°°°°°±±±±±²²²²²ÛÛÛÛÛ</div>
        </div>
        <ol class="year">
            <li v-for="(year, y, i) in years" v-bind:data-year="y" v-on:click="expandYear">
                <h1>\{{y}}</h1>
                <ol class="packContents">
                    <li v-for="(pack, p, i) in year" v-on:mouseover="message = p" v-bind:data-pt-title="p" class="protip" v-on:click="expandPack" v-bind:data-pack="p">
                        <h2>\{{p}}</h2>
                        <ol class="files">
                            <li v-for="(file, f, i) in pack.files">\{{f}}</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
  </script>

  <script type="text/x-template" id="year-template">
    <div>
        <div id="status">
            \{{message}}
            <div id="loader" v-show="!loaded">°°°°°±±±±±²²²²²ÛÛÛÛÛ</div>
        </div>
        <ol class="year">
            <li v-for="(pack, p, i) in packs" v-on:mouseover="message = p" v-bind:data-pt-title="p" v-bind:data-pack="p" v-on:click="expandPack">
                <h2>\{{p}}</h2>
                <ol class="packContents">
                    <li v-for="(file, f, i) in pack.files">\{{f}}</li>
                </ol>
            </li>
        </ol>
    </div>
  </script>

  {{!--{
    "title": "#prayforparis",
    "author": "mattmatthew",
    "group": "Blocktronics",
    "date": {
        "year": 2015,
        "month": 11,
        "day": 13
    },
    "columns": 80,
    "rows": 41,
    "dataType": "Character",
    "fileType": "ANSi",
    "nonBlink": "On",
    "letterSpace": "Eight Pixels",
    "aspectRatio": "Modern Aspect",
    "fontName": "IBM VGA"
  }--}}
  <script type="text/x-template" id="pack-template">
    <div>
        <div id="status">
            \{{message}}
            <div id="loader" v-show="!loaded">°°°°°±±±±±²²²²²ÛÛÛÛÛ</div>
        </div>
        <div id="selected-file" v-if="selected" @selectPackFile="changeSelected">
            <section id="meta">
                <h1>\{{filename}}</h1>            
                <h2>
                    <span v-if="selected.sauce !== null && selected.sauce.title !== ''">\{{selected.sauce.title}}</span>
                    <span v-else>\{{selected.filename}}</span> 
                    <span v-if="selected.sauce !== null && selected.sauce.author !== ''">by \{{selected.sauce.author}}</span>
                </h2>
                <pre>\{{selected}}</pre>
            </section>
            <img v-if="selected.sauce !== null" v-bind:style="{ width: (selected.sauce.columns * 8) + 'px', height: (selected.sauce.rows * 16) + 'px'}" />
            <img v-else style="width: 640px; height: 400px;" />
        </div>
        <ol class="files">
            <pack-file v-for="(file, f, i) in files" :file="file" :filename="f" :selected="false"></pack-file>
        </ol>
    </div>
  </script>

  <script type="text/x-template" id="pack-file-template">
    <li 
        v-bind:data-columns="file.sauce !== null ? file.sauce.columns : -1"  
        v-bind:data-rows="file.sauce !== null ? file.sauce.rows : -1"
        v-bind:class="{ active: file.active === true }"
        v-on:mouseover="file.active = true"
        v-on:mouseout="file.active = false"
        v-on:click="select"
        v-bind:style="{ width: file.sauce !== null ? file.sauce.columns + 'px' : '80px', height: file.sauce !== null ? (file.sauce.rows * 2) + 'px' : '50px' }">
        <span class="filename">\{{filename}}</span>
        <img  />
    </li>
  </script>

{{/contentFor}}
